<style>
h1{font-family: Arial;
   font-size:150%;
   font-weight: 800;
   font-style: Italic;
   font-stretch: expanded;
  }
p{font-family: Times New Roman;
   font-size:100%;
   font-weight: 200;
   font-style: normal;
   font-stretch: semi-condensed;
}